@namespace PIT.Frontend.Frontend_Shared
<nav class="sidebar">
    <ul class="nav flex-column">
        <NavLink class="nav-link" href="/home">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="/estado">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Estado del Sistema
        </NavLink>
        <NavLink class="nav-link" href="/monitoring">
            <span class="oi oi-monitor" aria-hidden="true"></span> Monitoreo
        </NavLink>
        <NavLink class="nav-link" href="/nuevo">
            <span class="oi oi-plus" aria-hidden="true"></span> Nuevo Registro
        </NavLink>
    </ul>
</nav>
